@charset "UTF-8";
/* CSS Document */

*{
    box-sizing: border-box;
}

body {
    background-color: #EFE3E3;
    padding: 20px;
	color:#868282;
    font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
   
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.navbar {
    list-style-type: none;
    margin-top: 60px;
	padding:0;
    overflow: hidden;
    background-color:#EFE3E3;
	
    top: 0;
	height: 50px;
    width: 960px;
} 

.navbar a {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:#E0CDCD;
}
